<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">

    <!--打印logback初始化日志系统信息，debug="true"是同等效果-->
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->

    <property resource="logback.properties"/>
    <!--<property name="logPath" value="/home/logs${contextPath}"/>-->
    <property name="logPath" value="./logs${contextPath}"/>
    <property name="maxHistory" value="30"/>
    <property name="charset" value="UTF-8"/>

    <appender name="rootConsoleDebug" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="rootConsoleError" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>

    <!--配置所有类SQL的日志-->
    <appender name="rootRollingDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/root.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/root.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <!--
    -把所有日志和其他错误级别的日志输出到console
    -把所有的日志输出到rootRollingDebug
    -->

    <root level="error">
        <appender-ref ref="rootRollingDebug"/>
        <appender-ref ref="rootConsoleDebug"/>
    </root>

    <logger name="com.ginkgocap.ywxt.video" level="debug"/>
    <!--<logger name="org.springframework" level="debug"/>-->

    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="debug"/>

<!--
    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
-->
    <!--Access日志-->
    <appender name="accessLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/access.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/access/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <logger name="accessLog" level="info" additivity="false">
        <appender-ref ref="accessLogAppender" />
    </logger>

    <!--Track日志-->
    <appender name="trackLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/track.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/track/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <logger name="trackLog" level="info" additivity="false">
        <appender-ref ref="trackLogAppender" />
    </logger>


</configuration>